# Validation Report

## crt

2024-05-14 11:36:56

| problem   | time limit   | memory limit   |   testcases |
|:----------|:-------------|:---------------|------------:|
| crt       | 1s           | 512 MiB        |           2 |

| solution         |   score | sample1           | 1                 | 2                 |
|:-----------------|--------:|:------------------|:------------------|:------------------|
| std "100.cpp"    |     100 | ok 0.000s(12mb)   | ok 0.832s(12mb)   | ok 0.872s(12mb)   |
| "100 copy.cpp"   |     100 | ok 0.000s(52mb)   | ok 0.820s(52mb)   | ok 0.872s(52mb)   |
| "100 copy 2.cpp" |       0 | fail 0.000s(52mb) | fail 1.032s(52mb) | fail 1.100s(52mb) |



## crt

2024-05-14 11:37:19

| problem   | time limit   | memory limit   |   testcases |
|:----------|:-------------|:---------------|------------:|
| crt       | 1s           | 512 MiB        |           2 |

| solution         |   score | sample1           | 1                 | 2                 |
|:-----------------|--------:|:------------------|:------------------|:------------------|
| std "100.cpp"    |     100 | ok 0.000s(53mb)   | ok 0.848s(53mb)   | ok 0.872s(53mb)   |
| "100 copy.cpp"   |     100 | ok 0.000s(53mb)   | ok 0.808s(53mb)   | ok 0.868s(53mb)   |
| "100 copy 2.cpp" |       0 | fail 0.000s(53mb) | fail 1.056s(53mb) | fail 1.028s(53mb) |



## crt

2024-05-14 11:37:43

| problem   | time limit   | memory limit   |   testcases |
|:----------|:-------------|:---------------|------------:|
| crt       | 1s           | 512 MiB        |           2 |

| solution         |   score | sample1           | 1                 | 2                 |
|:-----------------|--------:|:------------------|:------------------|:------------------|
| std "100.cpp"    |     100 | ok 0.000s(53mb)   | ok 0.872s(53mb)   | ok 0.900s(53mb)   |
| "100 copy.cpp"   |     100 | ok 0.000s(53mb)   | ok 0.832s(53mb)   | ok 0.868s(53mb)   |
| "100 copy 2.cpp" |       0 | fail 0.000s(53mb) | fail 1.044s(53mb) | fail 1.056s(53mb) |

