# Validation Report

## crt

2024-05-14 21:56:21

| problem   | time limit   | memory limit   |   testcases |
|:----------|:-------------|:---------------|------------:|
| crt       | 1s           | 512 MiB        |           2 |

| solution         |   score | sample1           | 1                 | 2                 |
|:-----------------|--------:|:------------------|:------------------|:------------------|
| std "100.cpp"    |     100 | ok 0.000s(11mb)   | ok 0.820s(11mb)   | ok 0.836s(11mb)   |
| "100 copy.cpp"   |     100 | ok 0.000s(51mb)   | ok 0.896s(51mb)   | ok 0.880s(51mb)   |
| "100 copy 2.cpp" |       0 | fail 0.000s(51mb) | fail 1.048s(51mb) | fail 1.032s(51mb) |



## crt

2024-05-14 21:56:45

| problem   | time limit   | memory limit   |   testcases |
|:----------|:-------------|:---------------|------------:|
| crt       | 1s           | 512 MiB        |           2 |

| solution         |   score | sample1           | 1                 | 2                 |
|:-----------------|--------:|:------------------|:------------------|:------------------|
| std "100.cpp"    |     100 | ok 0.000s(52mb)   | ok 0.872s(52mb)   | ok 0.860s(52mb)   |
| "100 copy.cpp"   |     100 | ok 0.000s(52mb)   | ok 0.864s(52mb)   | ok 0.888s(52mb)   |
| "100 copy 2.cpp" |       0 | fail 0.000s(52mb) | fail 1.048s(52mb) | fail 1.052s(52mb) |



## crt

2024-05-14 21:57:08

| problem   | time limit   | memory limit   |   testcases |
|:----------|:-------------|:---------------|------------:|
| crt       | 1s           | 512 MiB        |           2 |

| solution         |   score | sample1           | 1                 | 2                 |
|:-----------------|--------:|:------------------|:------------------|:------------------|
| std "100.cpp"    |     100 | ok 0.000s(52mb)   | ok 0.880s(52mb)   | ok 0.828s(52mb)   |
| "100 copy.cpp"   |     100 | ok 0.000s(52mb)   | ok 0.876s(52mb)   | ok 0.880s(52mb)   |
| "100 copy 2.cpp" |       0 | fail 0.000s(52mb) | fail 1.008s(52mb) | fail 1.044s(52mb) |

