# Validation Report

2024-05-14 21:57:08

| problem   | time limit   | memory limit   |   testcases |
|:----------|:-------------|:---------------|------------:|
| crt       | 1s           | 512 MiB        |           2 |

| solution         |   score | sample1           | 1                 | 2                 |
|:-----------------|--------:|:------------------|:------------------|:------------------|
| std "100.cpp"    |     100 | ok 0.000s(52mb)   | ok 0.880s(52mb)   | ok 0.828s(52mb)   |
| "100 copy.cpp"   |     100 | ok 0.000s(52mb)   | ok 0.876s(52mb)   | ok 0.880s(52mb)   |
| "100 copy 2.cpp" |       0 | fail 0.000s(52mb) | fail 1.008s(52mb) | fail 1.044s(52mb) |