# Validation Report

2024-05-14 11:37:43

| problem   | time limit   | memory limit   |   testcases |
|:----------|:-------------|:---------------|------------:|
| crt       | 1s           | 512 MiB        |           2 |

| solution         |   score | sample1           | 1                 | 2                 |
|:-----------------|--------:|:------------------|:------------------|:------------------|
| std "100.cpp"    |     100 | ok 0.000s(53mb)   | ok 0.872s(53mb)   | ok 0.900s(53mb)   |
| "100 copy.cpp"   |     100 | ok 0.000s(53mb)   | ok 0.832s(53mb)   | ok 0.868s(53mb)   |
| "100 copy 2.cpp" |       0 | fail 0.000s(53mb) | fail 1.044s(53mb) | fail 1.056s(53mb) |