# Validation Report

2024-05-14 12:03:30

| problem   | time limit   | memory limit   |   testcases |
|:----------|:-------------|:---------------|------------:|
| crt       | 1s           | 512 MiB        |           2 |

| solution         |   score | sample1           | 1                 | 2                 |
|:-----------------|--------:|:------------------|:------------------|:------------------|
| std "100.cpp"    |     100 | ok 0.000s(12mb)   | ok 0.864s(12mb)   | ok 0.872s(12mb)   |
| "100 copy.cpp"   |     100 | ok 0.000s(52mb)   | ok 0.868s(52mb)   | ok 0.812s(52mb)   |
| "100 copy 2.cpp" |       0 | fail 0.000s(52mb) | fail 1.064s(52mb) | fail 1.056s(52mb) |